<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="selenium.MduRohtak"/>
      <class name="selenium.Task1"/>
      <class name="selenium.Program1"/>
      <class name="selenium.AlertEx"/>
      <class name="selenium.TestNgExample"/>
      <class name="abc.Program"/>
      <class name="selenium.AlertBox"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
